<router-outlet></router-outlet>

<h1 [textContent]="textValue">Property Binding</h1>
<h1 [class.font]="isActive">Class Binding</h1>
<h1 [style.backgroundColor]="isActive ? 'blue': 'yellow'">Style Binding</h1>
<button (click)="onClick($event)">Button Click Event</button>
<div (click)="onDivClick()">
  <button (click)="onClickEventBubbling($event)">Button Click Event Bubbling</button>
</div>
<input type="text" (keyup)="onKeyUp($event)"/>
<h6>--event filtering--</h6>
<input type="text" (keyup.enter)="onKeyUpEnter($event)"/>
<h6>--template variable--</h6>
<input type="text" #email (keyup.enter) ="onKeyUpEnterTemplate(email.value)"/>
<h6>--property binding</h6>
<input type="text" [value]="emaill" (keyup.enter)="onKeyUpEnterProperty()"/> {{emaill}}
<h6>--Two Way Data Binding</h6>
<input type="text" [(ngModel)]="emaill" (keyup.enter)="onKeyUpEnterProperty()"/> {{emaill}}
